[nz-form]{
    max-width: 600px;
}

.phone-select{
    width: 70px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7f9;
    padding: 20px;
}

.child {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 15px -7px rgba(0, 0, 0, 0.1);
    padding: 50px;
    max-width: 380px;
    width: 100%;
}


nz-form-control{
    min-width: 280px;
}



.login-form-margin{
    margin-bottom: 16px;
}

.login-form-forgot{
    float: right;
}

.login-form-button{
    width: 100%;
}

button{
    background-color: #001529;
    border: none;
}

.imgDiv{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 40px;
}

.bg{
    background-color: #f5f7f9;
}